<p id="notice"><%= notice %></p>

<p>
  <b>Timeline:</b>
  <%= @presentation.timeline %>
</p>

<p>
  <b>Ppt url:</b>
  <%= @presentation.ppt_url %>
</p>

<p>
  <b>Ppt time:</b>
  <%= @presentation.ppt_time %>
</p>

<p>
  <b>Ppt topic:</b>
  <%= @presentation.ppt_topic %>
</p>


<%= link_to 'Edit', edit_presentation_path(@presentation) %> |
<%= link_to 'Back', presentations_path %>
