<%= form_for(@whiteboard) do |f| %>
  <% if @whiteboard.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@whiteboard.errors.count, "error") %> prohibited this whiteboard from being saved:</h2>

      <ul>
      <% @whiteboard.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :timeline %><br />
    <%= f.text_field :timeline %>
  </div>
  <div class="field">
    <%= f.label :wb_url %><br />
    <%= f.text_field :wb_url %>
  </div>
  <div class="field">
    <%= f.label :wb_time %><br />
    <%= f.text_field :wb_time %>
  </div>
  <div class="field">
    <%= f.label :topic %><br />
    <%= f.text_field :topic %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
