<!DOCTYPE html>
<html>
<head>
  	<title>SplineLatest</title>
  	<%= stylesheet_link_tag :all %>
  	<%= javascript_include_tag :defaults %>
  	<%= csrf_meta_tag %>
	<script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
	<%= javascript_include_tag 'tab1' %>
	<%= javascript_include_tag 'tab' %>
	<%= javascript_include_tag 'flowplayer-3.2.6.min' %>
	<%= javascript_include_tag 'ga' %>
	<%= javascript_include_tag 'base64' %>
	<%= javascript_include_tag 'canvas2image' %>
	<%= javascript_include_tag 'scratchPad' %>
	<script type="text/javascript" src="/javascripts/jscolor/jscolor.js"></script>
  	
</head>
<body background="/images/spline-bcgend.jpg" style="background-repeat:repeat-x;width:99%;height:100%;">

<%= render 'layouts/menu'%>
<%= render 'layouts/grid'%>
<%= render 'layouts/footer'%>


<%= yield %>

</body>
</html>
